body
{
    background-color: rgb(30, 30,30 );
    color: white;
    text-align: center;
    font-family: Segoe UI;
    

    margin: 0px;
    padding: 0px;
    
    
}

h1
{
    background-color: rgb(50,50,50);
    padding: 50px;
    margin-top: 0px;




}

footer
{
    background-color: rgb(36,36,36);
    font-size: small;
    font-style: inherit;
    padding: 50px;
    position: fi;





}

.gallery
{
    margin:0 auto;
    width: 200px;
}

.gallery img
{

   
    width: 200px;
}

.gallery img:hover
{
    filter: grayscale(0%);
    transform: scale(1.1);
}
a:link {
    color: rgb(223, 166, 92);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(223, 166, 92);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(223, 166, 92);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(223, 166, 92);
    background-color: transparent;
    text-decoration: underline;
  }
