body
{
    background-color: rgb(36, 36, 44);
    color: white;
    text-align: center;
}

h1
{
    
}


.gallery
{
    margin:0 auto;
    width: 200px;
}

.gallery img
{

   
    width: 200px;
}

.gallery img:hover
{
    filter: grayscale(100%);
    transform: scale(1.1);
}
