body
{
    background-color: rgb(30, 30,30 );
    color: white;
    text-align: center;
    font-family: Segoe UI;
    

    margin: 0px;
    padding: 0px;
    
    
}

h1
{
    background-color: rgb(50,50,50);
    padding: 50px;
    margin-top: 0px;




}

h2
{
    background-color: rgb(36,36,36);
    font-size: small;
    font-style: normal;
    padding: 50px

}

.gallery
{
    margin:0 auto;
    width: 200px;
}

.gallery img
{

   
    width: 200px;
}

.gallery img:hover
{
    filter: grayscale(0%);
    transform: scale(1.1);
}
