body
{
    background-color: rgb(30, 30,30 );
    color: white;
    text-align: center;
    font-family: Segoe UI
}

h1
{
    background-color: rgb(36,36,39);
    padding: 50px;



}


.gallery
{
    margin:0 auto;
    width: 200px;
}

.gallery img
{

   
    width: 200px;
}

.gallery img:hover
{
    filter: grayscale(100%);
    transform: scale(1.1);
}
